@import 'variables';

$iphone-warpper-width: 20vw;


section.car-service {
  .slides {
    .slide {
      display: flex;
      height: calc(100vw / 1.78);
      max-height: 100vh;
      position: relative;
      overflow: hidden;

      & > div {
        flex: 0 0 50%;
        width: 50%;
      }

      &.first-slide {
        background: linear-gradient(rgba(34, 34, 34, 0), rgba(34, 34, 34, 0)), center / cover no-repeat url("../assets/images/shutterstock.png") $color-black;
        & > div {
          flex: 0 0 60%;
          width: auto;

          p {
            color: $color-gray;
            font-size: 20px;
          }
          &.mob-view {
            background-color: transparent !important;
          }
        }
      }

      .slide-footer {
        bottom: 0;
        display: flex;
        padding: 30px 6vw;
        position: absolute;

        & > a {
          display: block;
          color: currentColor;
          margin-right: 30px;
          text-decoration: none;
          width: 175px;

          img {
            display: block;
            width: 100%;
          }
        }
      }
    }
  }

  aside.iphone-slider {
    height: calc(100vw / 1.78);
    max-height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 50%;
  }
}

.iphone-wrapper {
  height: calc(#{$iphone-warpper-width} * 979 / 493);
  left: 50%;
  max-height: 80vh;
  max-width: calc(80vh * 493 / 979);
  overflow: hidden;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: $iphone-warpper-width;

  .photo-list-wrapper {
    background-color: $gray-1200;
    border-radius: 50px;
    height: calc(100% - 4px);
    left: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 6px);

    .photo-list {
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      transition: top 1s ease-in-out;
      width: 100%;

      .photo-wrapper {
        flex: 0 0 100%;
        height: calc(#{$iphone-warpper-width} * 979 / 493);
        padding: $iphone-warpper-width * 0.05;
        width: 100%;

        img {
          width: 100%;
        }
      }
    }
  }

  img.iphone-view {
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}

.slide {
  .info {
    position: relative;

    .info-wrapper {
      color: $gray-1100;
      padding: 0 6vw;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);

      h1  {
        font-size: 100px;
        font-weight: 500;
        line-height: 1em;
        margin: 0;
        width: 680px;
      }

      h2  {
        font-size: 80px;
        font-weight: 500;
        line-height: 1em;
        margin: 0;
      }

      p {
        font-size: 24px;
        font-weight: 300;
      }

      a.download-btn {
        background-color: $color-orange;
        cursor: pointer;
        display: block;
        color: currentColor;
        font-weight: 300;
        padding: 15px;
        text-decoration: none;
        width: 200px;
      }

      ul {
        padding: 0 0 0 60px;
        list-style-type: none;

        li {
          padding: 20px 0;
          position: relative;

          &::before {
            background-color: $gray-210;
            border-radius: 50%;
            content: "";
            height: 30px;
            left: -60px;
            top: 22px;
            position: absolute;
            width: 30px;
          }

          & > div {
            line-height: 2em;
          }
        }
      }
    }
  }

  .mob-view {
    background-color: $gray-1200;
    // border-bottom: 1px solid $color-gray;

    .iphone-wrapper {
      display: none;
    }
  }
}

@media (max-width: 1280px) {
  .slide{
    .info {
      .info-wrapper {
        h1 {
          font-size: 80px;
          width: 530px;
        }
        h2 {
          font-size: 60px;
        }
        ul {
          li {
            padding: 10px 0;
            &::before {
              top: 12px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1020px) {
  section.car-service {
    .slides {
      .slide {
        .info {
          .info-wrapper {
            padding-left: 3vw;
            padding-right: 3vw;

            h1 {
              font-size: 60px;
              width: 430px;
            }
            h2 {
              font-size: 42px;
            }
            p {
              font-size: 20px;
            }
            ul {
              margin: 0;
              padding-left: 40px;

              li {
                font-size: 16px;
                line-height: 1.5em;
                padding: 3px 0;

                &::before {
                  left: -40px;
                  height: 20px;
                  width: 20px;
                  top: 11px;
                }
              }
            }
          }
        }

        .slide-footer {
          padding: 20px 3vw;

          & > a {
            width: 125px;
          }
        }
      }
    }
  }


  .iphone-wrapper {
    .photo-list-wrapper {
      border-radius: 30px;
    }
  }
}

@media (max-width: $media-mob-view) {

  section.car-service {
    .slides {
      .slide {
        flex-wrap: wrap;
        height: auto;
        max-height: none;

        .info {
          .info-wrapper {
            position: relative;
            padding: 10% 8%;

            h1 {
              font-size: 48px;
              width: auto;
            }
            h2 {
              font-size: 48px;
              width: auto;
            }
          }
        }

        &.first-slide {
          background: center / cover no-repeat url("../assets/images/shutterstock-mobile.png");

          .info {
            .info-wrapper {
              padding-top: 120px;
              padding-bottom: 30px;
            }
          }
        }

        & > div {
          flex: 0 0 100% !important;
        }

        .slide-footer {
          display: none;
        }
      }
    }
  }

  $iphone-warpper-width: 75vw;
  .mob-view {
    position: relative;
    height: calc(#{$iphone-warpper-width} * 979 / 493 + 100px);
    max-height: calc(80vh + 100px);

    .iphone-wrapper {
      display: block !important;
    }
  }

  aside.iphone-slider {
    display: none;
  }

  .iphone-wrapper {
    height: calc(#{$iphone-warpper-width} * 979 / 493);
    width: $iphone-warpper-width;

    .photo-list-wrapper {
      border-radius: 70px;

      .photo-list {
        .photo-wrapper {
          padding: $iphone-warpper-width * 0.05;
        }
      }
    }
  }

}
