@import "variables";

* {
  box-sizing: border-box;
}

.noscroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
}

body {
  font-family: 'Roboto';
  margin: 0;
  min-width: 350px;
}

.black { color: $color-black; }
.blue { color: $color-blue; }
.gray { color: $color-gray; }
.green { color: $color-green; }
.orange{ color: $color-orange; }
.red { color: $color-red; }
.white { color: $color-white; }
