@import 'variables', 'general-styles';

$head-nav-height: 75px;
$nav-container-padding-left: 20px;
$nav-box-width: 250px;
$nav-box-min-height: 300px;

.underline {
	&::after {
    background-color: $gray-700;
		content: "";
		display: block;
		height: 1px;
		margin: 1px auto 0 0;
		transition: width .25s ease-in-out;
		width: 0;
  }
	&:hover {
		cursor: pointer;
	}
	&:hover::after, &.active::after {
    width: 100%;
  }
}

.cover {
  background-color: transparent;
  position: fixed;
  height: 0;
  left: 0;
  top: 0;
  transition: background-color 0.4s;
  width: 0;

  &.active {
    height: 100vh;
    width: 100vw;
  }
}

.head-nav {
  color: $gray-700;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 500;
  height: $head-nav-height;
  left: 0;
  padding-left: 20px;
  position: absolute;
  top: 0;
  transition: background-color 0.25s, color 0.25s, top 0.25s;
  width: 100%;
  z-index: 100;

  ul {
    align-items: center;
    display: flex;
    list-style: none;

    li {
      a {
        color: currentColor;
        display: block;
        padding: 10px;
        text-decoration: none;
        width: 100%;
      }
    }
  }

  .logo-link {
    align-self: center;
    height: 100%;
    padding: 10px 0;

    .logo {
      display: block;
      filter: brightness(0) invert(1);
      height: 100%;
      transition: height 0.4s;
      width: auto;
    }
  }

  .nav-container {
    flex-grow: 1;
    height: 100%;
    width: calc(#{$nav-box-width} + #{$nav-container-padding-left});

    .nav-box {
      display: flex;
      height: 100%;
      justify-content: space-between;

      .action-buttons {
        color: $color-white;
        flex-wrap: wrap;
        height: 100%;
        margin: 0;
        padding: 0;

        .action-btn {
          align-items: center;
          display: flex;
          margin-right: 10px;

          &:last-child {
            margin-right: 0;
          }
          &.download {
            background-color: $color-orange;
            color: $gray-700;
            height: 100%;
          }
        }
      }
    }
  }

  .sandwich {
    align-self: center;
    display: none;
    width: 30px;

    &:hover {
      cursor: pointer;
    }
    .line {
      background-color: $color-white;
      height: 4px;
      margin-bottom: 5px;
      margin-left: 5px;

      &:last-child {
        margin-bottom: 0;
      }
      &.center {
        margin-left: 0;
      }
    }
  }
}

// js scrollup/scrolldown
.head-nav {
  &.scrolled {
    background-color: $scrolled-panel-bc;
    color: $color-white;
    top: 0;
    position: fixed;

    .underline:after {
      background-color: $color-white;
    }
    .sandwich {
      .line {
        background-color: $color-white;
      }
    }
  }
  &.hidden {
    top: -$head-nav-height;
  }
}

@media (min-width: $media-mob-view) {
  .head-nav {
    .nav-container {
      height: 100% !important;
    }
  }
}

@media (max-width: $media-mob-view) {
  .head-nav {
    padding: 0 20px;

    .logo-link {
      padding: 10px 0;
    }

    .nav-container {
      background-color: transparent;
      height: 100vh;
      max-height: 100vh;
      overflow: auto;
      padding-left: $nav-container-padding-left;
      position: fixed;
      right: calc(#{-$nav-box-width} - 1px);
      top: 0;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 0px;
      }

      .nav-box {
        background-color: $gray-1200;
        flex-wrap: wrap;
        height: auto;
        min-height: $nav-box-min-height;
        width: $nav-box-width;

        .nav-items {
          flex: 1 0 100%;
          flex-wrap: wrap;
          height: 100%;
          margin-top: 0;
          padding: 0;

          .nav-item {
            flex: 1 0 100%;

            &:hover {
              background-color: lighten($gray-1200, 10);
            }
            .nav-link {
              padding: 20px 20px;
            }
            .underline::after {
              display: none;
            }
          }

        }
        .action-buttons {
          align-self: flex-end;
          flex-wrap: wrap;
          height: 100%;

          .action-btn {
            flex: 1 0 100%;
            margin-right: 0;

            a {
              padding: 20px 20px;
            }
          }
        }
      }
    }

    .sandwich {
      display: block;
    }
  }
}
