$error-color: #E61610;
$warning-color: #FF8351;

$gray-1200: #222222;
$gray-700: #737373;
$gray-300: #bbbbbb;

$color-black: #000000;
$color-orange: #F9A919;
$color-white: #FFFFFF;

$scrolled-panel-bc: rgba(58, 58, 58, 0.5);
