@import 'variables', 'fonts', 'head-nav';


main {

  .car-service {
    background: center / cover no-repeat url("../assets/images/shutterstock.png"), $color-black;
    height: 1080px;
    overflow: hidden;
    position: relative;

    .back-img {

      display: block;
      height: 100%;
      width: auto;
    }
  }

}