@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: url(../assets/fonts/Roboto-Light.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(../assets/fonts/Roboto-Regular.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url(../assets/fonts/Roboto-Bold.ttf); }

* {
  box-sizing: border-box; }

.noscroll {
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; }

body {
  margin: 0;
  min-width: 350px; }

.underline::after {
  background-color: #737373;
  content: "";
  display: block;
  height: 1px;
  margin: 1px auto 0 0;
  transition: width .25s ease-in-out;
  width: 0; }

.underline:hover {
  cursor: pointer; }

.underline:hover::after, .underline.active::after {
  width: 100%; }

.cover {
  background-color: transparent;
  position: fixed;
  height: 0;
  left: 0;
  top: 0;
  transition: background-color 0.4s;
  width: 0; }
  .cover.active {
    height: 100vh;
    width: 100vw; }

.head-nav {
  color: #737373;
  display: flex;
  justify-content: space-between;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 500;
  height: 75px;
  left: 0;
  padding-left: 20px;
  position: absolute;
  top: 0;
  transition: background-color 0.25s, color 0.25s, top 0.25s;
  width: 100%;
  z-index: 100; }
  .head-nav ul {
    align-items: center;
    display: flex;
    list-style: none; }
    .head-nav ul li a {
      color: currentColor;
      display: block;
      padding: 10px;
      text-decoration: none;
      width: 100%; }
  .head-nav .logo-link {
    align-self: center;
    height: 100%;
    padding: 10px 0; }
    .head-nav .logo-link .logo {
      display: block;
      filter: brightness(0) invert(1);
      height: 100%;
      transition: height 0.4s;
      width: auto; }
  .head-nav .nav-container {
    flex-grow: 1;
    height: 100%;
    width: calc(250px + 20px); }
    .head-nav .nav-container .nav-box {
      display: flex;
      height: 100%;
      justify-content: space-between; }
      .head-nav .nav-container .nav-box .action-buttons {
        color: #FFFFFF;
        flex-wrap: wrap;
        height: 100%;
        margin: 0;
        padding: 0; }
        .head-nav .nav-container .nav-box .action-buttons .action-btn {
          align-items: center;
          display: flex;
          margin-right: 10px; }
          .head-nav .nav-container .nav-box .action-buttons .action-btn:last-child {
            margin-right: 0; }
          .head-nav .nav-container .nav-box .action-buttons .action-btn.download {
            background-color: #F9A919;
            color: #737373;
            height: 100%; }
  .head-nav .sandwich {
    align-self: center;
    display: none;
    width: 30px; }
    .head-nav .sandwich:hover {
      cursor: pointer; }
    .head-nav .sandwich .line {
      background-color: #FFFFFF;
      height: 4px;
      margin-bottom: 5px;
      margin-left: 5px; }
      .head-nav .sandwich .line:last-child {
        margin-bottom: 0; }
      .head-nav .sandwich .line.center {
        margin-left: 0; }

.head-nav.scrolled {
  background-color: rgba(58, 58, 58, 0.5);
  color: #FFFFFF;
  top: 0;
  position: fixed; }
  .head-nav.scrolled .underline:after {
    background-color: #FFFFFF; }
  .head-nav.scrolled .sandwich .line {
    background-color: #FFFFFF; }

.head-nav.hidden {
  top: -75px; }

@media (min-width: 900px) {
  .head-nav .nav-container {
    height: 100% !important; } }

@media (max-width: 900px) {
  .head-nav {
    padding: 0 20px; }
    .head-nav .logo-link {
      padding: 10px 0; }
    .head-nav .nav-container {
      background-color: transparent;
      height: 100vh;
      max-height: 100vh;
      overflow: auto;
      padding-left: 20px;
      position: fixed;
      right: calc(-250px - 1px);
      top: 0; }
      .head-nav .nav-container .nav-box {
        background-color: #222222;
        flex-wrap: wrap;
        height: auto;
        min-height: 300px;
        width: 250px; }
        .head-nav .nav-container .nav-box .nav-items {
          flex: 1 0 100%;
          flex-wrap: wrap;
          height: 100%;
          margin-top: 0;
          padding: 0; }
          .head-nav .nav-container .nav-box .nav-items .nav-item {
            flex: 1 0 100%; }
            .head-nav .nav-container .nav-box .nav-items .nav-item:hover {
              background-color: #3c3c3c; }
            .head-nav .nav-container .nav-box .nav-items .nav-item .nav-link {
              padding: 20px 20px; }
            .head-nav .nav-container .nav-box .nav-items .nav-item .underline::after {
              display: none; }
        .head-nav .nav-container .nav-box .action-buttons {
          align-self: flex-end;
          flex-wrap: wrap;
          height: 100%; }
          .head-nav .nav-container .nav-box .action-buttons .action-btn {
            flex: 1 0 100%;
            margin-right: 0; }
            .head-nav .nav-container .nav-box .action-buttons .action-btn a {
              padding: 20px 20px; }
    .head-nav .sandwich {
      display: block; } }

main .car-service {
  background: center/cover no-repeat url("../assets/images/shutterstock.png"), #000000;
  height: 1080px;
  overflow: hidden;
  position: relative; }
  main .car-service .back-img {
    display: block;
    height: 100%;
    width: auto; }
