@import "../node_modules/bootstrap/scss/_functions";
@import "../node_modules/bootstrap/scss/_variables";
@import "../node_modules/bootstrap/scss/_mixins";
// @import "../node_modules/bootstrap/scss/_root";
// @import "../node_modules/bootstrap/scss/_print";
@import "../node_modules/bootstrap/scss/_reboot";
// @import "../node_modules/bootstrap/scss/_type";
// @import "../node_modules/bootstrap/scss/_images";
// @import "../node_modules/bootstrap/scss/_code";
@import "../node_modules/bootstrap/scss/_grid";
// @import "../node_modules/bootstrap/scss/_tables";
@import "../node_modules/bootstrap/scss/_forms";
@import "../node_modules/bootstrap/scss/_buttons";
// @import "../node_modules/bootstrap/scss/_transitions";
// @import "../node_modules/bootstrap/scss/_dropdown";
@import "../node_modules/bootstrap/scss/_button-group";
@import "../node_modules/bootstrap/scss/_input-group";
// @import "../node_modules/bootstrap/scss/_custom-forms";
// @import "../node_modules/bootstrap/scss/_nav";
// @import "../node_modules/bootstrap/scss/_navbar";
// @import "../node_modules/bootstrap/scss/_card";
// @import "../node_modules/bootstrap/scss/_breadcrumb";
// @import "../node_modules/bootstrap/scss/_pagination";
// @import "../node_modules/bootstrap/scss/_badge";
// @import "../node_modules/bootstrap/scss/_jumbotron";
// @import "../node_modules/bootstrap/scss/_alert";
// @import "../node_modules/bootstrap/scss/_progress";
// @import "../node_modules/bootstrap/scss/_media";
// @import "../node_modules/bootstrap/scss/_list-group";
// @import "../node_modules/bootstrap/scss/_close";
// @import "../node_modules/bootstrap/scss/_modal";
// @import "../node_modules/bootstrap/scss/_tooltip";
// @import "../node_modules/bootstrap/scss/_popover";
// @import "../node_modules/bootstrap/scss/_carousel";
// @import "../node_modules/bootstrap/scss/_utilities";

body.wait, body.wait * {
  cursor: wait !important;
}

body {
  background: linear-gradient(#4b4b4b, #161616);  
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  color: #fafafa;
  text-align: center;

  &, & > .row {
    min-height: 100vh;
  }

  & > .col {
    margin: 50px 0;
  }

  .content-row {
    justify-content: center;
  }
}

.logo-full {
  height: 25px;
  margin-top: 30px;
}

.index {
  .logo {
    max-height: 200px;
    min-height: 50px;
  }
  
  h1 {
    font-weight: 100;
    font-size: 2rem;
    margin: 3rem 0;
    line-height: 2.4rem;
  }
  
  form {
    margin-top: 80px;
    margin-bottom: 0;
  
    label, .form-control {
      font-weight: 100;  
    }
  
    .form-control::placeholder {
      color: #979797;
    }
  
    .form-group {
      display: flex;
      align-items: baseline;
      border-bottom: 1px solid #3f3f3f;
      border-top: 1px solid #3f3f3f;
      padding: 10px 0;
      margin: 0;
      margin-bottom: -1px;
    }
  
    .form-control {
      background: transparent;
      border: none;
      color: #fff !important;
      flex: 1;  
      padding-left: 10px;
    
      &:focus {
        box-shadow: none;
        background: transparent;
      }
    }
  
    button.btn {
      color: #fff !important;
      text-decoration: none !important;
      padding: 20px 40px;    
      cursor: pointer;
  
      &:hover {
        opacity: .5;
      }
    }
  
    p {
      font-weight: 100;
    }
  }
  
  @media screen and (max-height: 730px) {
    .content-col {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  
    img {
      align-self: center;
    }
  
    .logo {
      max-height: 130px;
    }
  
    .logo-full {
      margin: 15px 0;
      height: 20px;
    }
  
    h1, form {
      margin: 10px 0;
    }
  }
}

.thank-you-page {
  h2 {
    font-weight: 100;
    font-size: 1.9rem;
    margin: 0 0 1.5rem 0;
    line-height: 2.5rem;
  }

  p {
    padding: 0 1rem;
    font-weight: 100;
    font-size: 1.1rem;
  }

  .content-col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-full {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
}